name: "Check"

on:
  pull_request:
  push:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install fern
        run: npm install -g fern-api
      - name: fern generate
        run: fern generate
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
      - name: Install dependencies
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Check formatting
        run: yarn format:check
      - name: Compile
        run: yarn build
